node_modules
.git
.gitignore
*.exe
*.test
*.test.*
*.out
.dockerignore
Dockerfile
docker-compose*.yml
README.md
BENZHI_README.md
BUG_CATALOG.md
build_benzhi_docker.sh
benzhi.Dockerfile
.idea
.vscode
dist
build
vendor
__debug_bin*
